*{
    margin: 0px;
    text-decoration: none;
}

body {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "welcome" "movies" "footer";
}

.homePage {
    grid-area: welcome;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header header" "image info";
}

.homePage .nav {
    grid-area: header;
}

.homePage .imageHome {
    grid-area: image;
}
.homePage .information{
    grid-area: info;
}
.container {
    grid-area: movies;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "bar" "number" "listmovies";
}

.container .searchBar{
    grid-area: bar;
}

.container .movieNumber{
    grid-area: number;
}

.container .listOfMovies{
    grid-area: listmovies;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "column1 column2 column3 column4";
}

.container .listOfMovies .group1{
    grid-area: column1;
}

footer {
    grid-area: footer;
}

.title {
    font-family: 'Lemon', cursive;
    font-size: 25px;
    font-weight: 125px;
    color: white;
    text-shadow: 0px 6px 20px rgba(0,0,0,0.25);
}

.paragraph {
    font-family: 'Montserrat',bold;
    color: white;
    font-size: 15px;
}

