*{
    margin: 0px;
    text-decoration: none;
}

.imageHome {
    border: 1px solid red;
    width: 100%;
    max-height: 800px; 
    background-image:url("https://i.pinimg.com/564x/30/13/27/301327686c2a4214ca74032d25702960.jpg");
    background-size: cover;
}

.information {
    margin-top: 40%;
    border: 1px solid #000000;
    padding: 10px;
    max-width: 50%;
    text-align: right;
    position: right;
}
.title {
    font-family: 'Lemon', cursive;
    font-size: 25px;
    font-weight: 125px;
    color: white;
    text-shadow: 0px 6px 20px rgba(0,0,0,0.25);
}

.paragraph {
    font-family: 'Montserrat',bold;
    color: white;
    font-size: 15px;
}